{% extends "html/layouts/default.twig" %}

{% block content %}
<section class="container my-3">
    <header>
        <h1>About myBloomington</h1>
        <hr>
    </header>

    <p>myBloomington is a service offered by the City of Bloomington, Indiana ITS Department to find local information related to a street address. The information reported comes from the City of Bloomington’s Master Address Database, Geographic Information Systems (GIS) and other related databases unless otherwise noted below. City staff strives to keep complete and accurate information and regrets any errors or omissions. (<a href="https://bloomington.in.gov/web">Data Disclaimer</a>)</p>

    <p>The address database includes street addresses within the City of Bloomington and City of Bloomington Utilities customers outside the city limits. The address database contains many Monroe County addresses outside these two areas, but not all. See the address search tips section below for help with address search entries.</p>

    <p>Road Closing information pertains to public streets within the City Limits. For more information on Road Closings, see the Roads &amp; Traffic section of the City website or contact the Public Works Department at <a href="tel:+1-812-349-3411">812-349-3411</a>.</p>

    <p>Voting Precinct information comes from the Monroe County Clerk's Office. For questions regarding voting precinct information, please contact the Monroe County Voter Registration office at <a href="tel:+1-812-349-2690">812-349-2690</a>.</p>

    <p>Nearby Fire Hydrant information comes from the City of Bloomington Utilities GIS. Hydrants maintained by other agencies or private individuals may not show up in this report. For questions regarding fire hydrants, please contact the City of Bloomington Utilities Department at <a href="tel:+1-812-349-3930">812-349-3930</a>.</p>

    <p>Report a problem with an address within the City limits or other issues with <a href="https://bloomington.in.gov/ureport/miscellaneous/53">uReport</a>.</p>
</section>

<section class="container my-3">
    <header>
        <h2>Search Tips</h2>
        <hr>
    </header>
    <p><strong>The standard primary street address includes (with example):</strong></p>
    <ul><li>Street Number (401)</li>
        <li>Pre Directional (N)</li>
        <li>Street Name (Morton)</li>
        <li>Street Name Type Suffix (Street)</li>
    </ul>

    <p>It is not necessary to enter an apartment or suite number.</p>

    <p>Do not enter the postal community, state or zip code.</p>

    <p>The address search is not case sensitive, that is you can use upper or lowercase when entering text. For example, 401 n morton street works as well as 401 N Morton Street or 401 N MORTON STREET.</p>

    <p>You may abbreviate the street direction using the first letter of the direction, such as n for north. (401 N Morton Street) If you are unsure of the street direction, you may leave it off. (401 Morton Street) If there is more than one match, you will be provided with a list of address choices.</p>

    <p>You may abbreviate the street type suffix with a postal standard abbreviation. If you are unsure of the correct suffix or not finding the address you are searching for, try leaving it off. (401 N Morton) If there is more than one match, you will be provided with a list of address choices.</p>

    <p>The numbered streets in Bloomington are entered as numbers and not spelled out. These include 1st, 2nd, 3rd, 4th, 5th, 6th, 7th, 8th, 9th, 10th, 11th, 12th, 13th, 14th, 15th, 16th, 17th, 18th, 19th, 20th.</p>

    <p>Enter state road addresses in the form of street number, street direction State Road, and state road number. For example, 4125 E State Road 45. The correct street name form for addresses on the Bypass is State Road 45 46 Bypass. Addresses on the Bypass that are south of E 10th Street/E State Road 45, are N or S State Road 46 addresses.</p>

    <p>There are a few Bloomington streets that also includes a post direction after the street name type suffix.</p>

    <p>These include:</p>
    <ul><li>E Bayberry Court E and E Bayberry Court W</li>
        <li>N Glenwood Avenue E and N Glenwood Ave W</li>
        <li>E Longwood Court E and E Longwood Court W</li>
        <li>N Ramble Road E and N Ramble Road W</li>
        <li>S Westminster Way W</li>
    </ul>
</section>

<section class="container my-3">
    <header>
        <h2>Don't Find Your Address?</h2>
        <hr>
    </header>
    <p>Report a problem with an address within the City limits or other issues with <a href="https://bloomington.in.gov/ureport/miscellaneous/53">uReport</a>.</p>
</section>
{% endblock %}
