$blue:  #1e5aae;
$green: #4cae4f;
$red:   #eb3b24;
$gray:  #5c5c5c;

$color-text-foreground: $gray;
$color-text-background: #fff;
$color-link:            $blue;
$color-border:          #ccc;

$font-size-big:    20px;
$font-size-normal: 14px;
$font-size-small:  12px;

$size-gutter: 4px;
