@import 'inc/vars';
@import 'inc/html';

body > header {
    padding: $size-gutter;
    border-top: $size-gutter solid $color-link;


    h1 {
        display: inline-block;
        background: url('images/cob-logo-horizontal.svg') no-repeat;
        width: 233px; height: 55px;
        line-height: 55px; vertical-align: middle;
        text-indent: -999px;
    }

    h2 {
        display: inline-block;
        line-height: 55px; vertical-align: middle;
        font-size: $font-size-normal;
        border-left:   2px solid $color-border;
        margin-left: $size-gutter; padding-left: $size-gutter;
    }
    nav { float: right; }
}

h1 { font-size: $font-size-huge; }
h3 {
    font-size: $font-size-big;
    border-bottom: 2px solid $color-border;
}
h4 { font-size: $font-size-big; font-weight: normal; }

th, td {
    border-top: 1px solid $color-border;
    padding: $size-gutter;
}

section, article { margin: $size-gutter; }
article {
    border-bottom: 2px solid $color-border;
    margin-bottom: 30px;
}

#searchView {
    margin: 0; padding: $size-gutter;
    background-color: $color-link;
    color: $color-text-background;
    a { color: $color-text-background; }
}

#searchForm {
    background-color: $color-link;
    color: $color-text-background;
}

span.city, span.county {
    float: right;
    padding: 0 $size-gutter;
    border-radius: 1em;
    font-weight: bold;
}
span.city   { color: $color-text-background; background-color: $color-valid; }
span.county { color: $color-text-background; background-color: $color-error; }
