@import 'modules/_vars-mixins';
@import 'modules/_html_elements';
@import 'modules/_home';

#elected-officials {
    img { max-width: 232px; }

    .myCity-councilDistrict-map img { max-width: 100%; }
}

.cob-pageHeader {
    position: relative;
}
.myCity-pageHeader {
    background-image: none;
    color: #fff;
    position: relative;
    &-mapCanvas {
        height: (246rem/16);
    }
}

section > h2:first-child, section > div > h2 {
    @include grid-12col();
    font-size: (14rem/16);
    font-weight: normal;
    line-height: 1.3em;
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    @media screen and (min-width: $screen-medium) {
        font-size: (20rem/16);
    }
}

.cob-main-container > section:not(:first-child) {
    &:before {
        background-image: url('img/bloomington-section-divider-mobile.svg');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        content: ' ';
        display: block;
        margin: 4rem 0;
        width: 100%;
        height: 31px;
        @media screen and (min-width: $screen-medium){
            background-image: url('img/bloomington-section-divider.svg');
        }
    }
}

// ACT I

a {
    color: $cob-cornflower-light;
}

.myCity {
    &-searchForm {
        margin: 0 0 0 (-225rem/16);
        position: absolute;
            top: (162rem/16);
            left: 50%;
            z-index: 2;
        text-align: center;
        width: (450rem/16);
        &:before {
            background: url('img/MyBloomington.svg') no-repeat 50% 0;
            content: ' ';
            display: inline-block;
            height: (45rem/16);
            margin: 0 0 0 (-185rem/16);
            pointer-events: none;
            position: absolute;
                top: -4.5rem;
                left: 50%;
                z-index: 4;
            width: (370rem/16);
        }

        > label {
            @include visuallyHidden();
        }
        > input[name="address"] {
            border: 1px solid $cob-blue-darkest;
            border-radius: .5rem 0 0 .5rem;
            box-sizing: border-box;
            color: $cob-gray-darkest;
            font-size: (18rem/16);
            line-height: 1.3em;
            overflow: hidden;
            padding: .5rem;
            width: (370rem/16);
        }
        > button[type="submit"] {
            background: url('img/search.svg') no-repeat 50% 50% / 1.1em 1.1em $cob-green;
            border: 1px solid $cob-blue-darkest;
            border-radius: 0 .5rem .5rem 0;
            box-sizing: border-box;
            display: inline-block;
            font-size: (18rem/16);
            line-height: 1.3em;
            overflow: hidden;
            padding: .5rem 2rem;
            position: relative;
                right: .5rem;
            text-indent: -10rem;
        }
    }
    &-resultsHeading {
        @include visuallyHidden();
    }


    &-addressInfo {
        @include grid-12col();
        &:before {
            background-color: $cob-blue;
            content: ' ';
            display: block;
            height: (4rem/16);
        }
        > div:last-of-type {
            border-bottom: none;
        }
        &-keyValuePair { /* <- Meant for DL */
            display: inline-block;
            margin: 0;

            > dt {
                font-size: (14rem/16);
                line-height: 1em;
                text-transform: uppercase;
            }
            > dd {
                color: $cob-blue-darkest;
                font-size: (30rem/16);
                line-height: (36em/30);
                margin: 0;
            }
            &.modTrashDay {
                box-sizing: border-box;
                padding: 0 1rem;
                text-align: center;
                width: 49%;
            }
            &.modRecycleWeek {
                box-sizing: border-box;
                padding: 0 1rem;
                text-align: center;
                width: 49%;
            }
            &.modLocation {
                display: block;
                margin-bottom: 1rem;
                > dt {
                    font-size: (12rem/16);
                    line-height: (14em/12);
                }
                > dd {
                    font-size: (18rem/16);
                    line-height: (26em/18);
                }
            }
        }
    }
    &-trash {
        &-container {
            border-bottom: 1px solid $cob-gray;
            @include clearfix();

            &:before {
                background: url('img/icon-trash.svg') no-repeat 0 0 / 100% 100%;
                content: ' ';
                display: block;
                height: (83rem/16);
                margin: 1rem auto;
                width: (83rem/16);
            }
        }
        &-details {
            display: inline-block;
            font-size: (16rem/16);
            line-height: (24em/16);
            margin: 1rem;
        }
    }
    &-location {
        &-container {
            border-bottom: 1px solid $cob-gray;
            @include clearfix();
            &:before {
                background: url('img/icon-map.svg') no-repeat 0 0 / 100% 100%;
                content: ' ';
                display: block;
                height: (83rem/16);
                margin: 1rem auto;
                width: (83rem/16);
            }
        }
        &-cityLimits {
            box-sizing: border-box;
            text-align: center;
        }
        &-additionalInfo {
            margin: 1rem 0 0 0;
            text-align: center;
        }
    }
    &-parking {
        &-container {
            border-bottom: 1px solid $cob-gray;
            &:before {
                background: url('img/icon-parking.svg') no-repeat 0 0 / 100% 100%;
                content: ' ';
                display: block;
                height: (83rem/16);
                margin: 1rem auto;
                width: (83rem/16);
            }
        }
        &-details {
            margin: 1rem 0;
            text-align: center;
            > dt {
                color: $cob-blue-darkest;
                font-family: $font-headings;
                font-size: (24rem/16);
                line-height: (30em/24);
                margin: 0;
            }
            > dd {
                font-size: (14rem/16);
                margin: 0;
            }
        }
    }
    &-govOnline {
        @include grid-12col();

        > dl {
            margin-bottom: 2rem;

            > dt {
                font-family: $font-headings;
                font-size: (12rem/16);
                text-transform: uppercase;
            }
            > dd:first-of-type {
                font-family: $font-headings;
                font-size: (20rem/16);
                line-height: 1em;
                margin: 0 0 (16rem/16) (-2em/36);
            }
            > dd {
                margin: 0;
                > dl {
                    @include clearfix();

                    > dt {
                        clear: left;
                        float: left;
                        margin: 0 1ex 0 0;
                    }
                    > dd {
                        float: left;
                        margin: 0;
                    }
                }
            }
        }
    }
    @media screen and (max-width: $screen-small) {
        &-addressInfo {
            &-keyValuePair {
                > dt {
                    font-size: (12rem/16);
                    line-height: (18em/12);
                }
                > dd {
                    font-size: (20rem/16);
                    line-height: (25em/30);
                }
            }
        }

    }
    @media screen and (min-width: $screen-medium) {
        &-addressInfo {
            &-keyValuePair {
                &.modRecycleWeek  {
                    margin: 0 (20rem/16) 0 0;
                    padding: 0;
                    text-align: left;
                    width: (167rem/16);
                }
                &.modTrashDay {
                    margin: 0 (20rem/16) 0 (20rem/16);
                    padding: 0;
                    text-align: left;
                    width: (167rem/16);
                }
            }
        }
        &-trash {
            &-container {
                &:before {
                    display: inline-block;
                    margin-bottom: -1rem;
                }
            }
        }
        &-location {
            &-container {
                @include clearfix();
                &:before {
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            &-cityLimits {
                display: inline-block;
                padding: 0 (20rem/16);
                text-align: left;
                width: 40%;
                vertical-align: middle;
            }
            &-additionalInfo {
                display: inline-block;
                margin: 0;
                padding: 1rem 0 0;
                text-align: left;
                width: 40%;
                vertical-align: middle;
            }
        }
        &-parking {
            &-container {
                &:before {
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            &-details {
                display: inline-block;
                margin: 0 0 0 (20rem/16);
                text-align: left;
                vertical-align: middle;
            }
        }
        &-govOnline {
            @include clearfix();

            > dl {
                box-sizing: border-box;
                float: left;
                width: 33.33%;

                > dt {
                    font-size: (14rem/16);
                }
                > dd:first-of-type {
                    font-size: (36rem/16);
                    font-weight: 300;
                }
            }
        }
    }
    @media screen and (min-width: $screen-large) {
        &-addressInfo {
            &-keyValuePair {
                width: (334rem/16);
            }
        }
        &-trash {
            &-container {
                > dl, > div, > p, &:before { vertical-align: middle; }
                &:before {
                    margin: 1rem 0;
                }
            }
            &-details {
                display: inline-block;
                width: 23em;
            }
        }
        &-location {
            &-container {
                &:before {
                }
            }
            &-additionalInfo {
                width: 23rem;
            }
            &-cityLimits {
                width: (412rem/16);
            }
        }
    }
}

// ACT II

.table-contact {
    width: 100%;
    tr:first-child > td, tr:first-child > th {
        border-top: (4rem/16) solid $cob-blue;
    }
    th, td {
        border-top: 1px solid $cob-gray;
        padding: .5em 0;
        white-space: pre-line;
    }
    th {
        color: $cob-blue-darkest;
        font-weight: normal;
        text-align: left;
        vertical-align: top;
    }
}
.myCity {
    &-mayor {
        @include container();
        margin-bottom: 2rem;
        &-photo {
            display: block;
            margin: 0 auto;
            width: 66.66%;
            &Container {
                @include grid-4col();
            }
        }
        &-details {
            @include grid-8col();
        }
        &-title {
            color: $cob-gray-darkest;
            font-family: $font-headings;
            font-size: (14rem/16);
            line-height: .8em;
            text-transform: uppercase;
        }
        .myCity-mayor-name {
            font-size: (36rem/16);
            font-weight: 300;
            line-height: 1em;
            margin: 0 0 1rem (-2rem/16);
        }
        &-biography {
            > h3 {
                font-weight: normal;
                font-size: (20rem/16);
                margin: 2rem 0 .5rem 0;
            }
        }
        @media screen and (min-width: $screen-medium) {
            &-title {
                margin: 0 0 0 0;
            }
            &-photo {
                float: left;
                width: 100%;
            }
            &-details {
                box-sizing: border-box;
                float: left;
                padding-left: 2rem;
            }
        }
        @media screen and (min-width: $screen-large) {
            &-photo {
                width: 100%;
            }
            &-details {
            }
            &-title {
                font-size: (18rem/16);
            }
            .myCity-mayor-name {
                font-size: (50rem/16);
                margin: 0 0 2rem (-3rem/16);
            }
        }
    }
    &-electedOfficials {
        &-subheading {
            @include grid-12col;
        }
    }

    &-atLarge {
        @include clearfix();

        &-individual {
            @include grid-4col();
        }
    }

    &-councilDistrict {
        @include clearfix();
        &-map {
            background: $cob-gray;
            min-height: 20rem;
            &Container {
                @include grid-6col();
                margin-top: 0;
            }
        }
        &-details {
            @include grid-6col();
            margin-top: 0;
            > h3 {
                margin-bottom: -.25em;
            }
        }
        &-repTitle {
            margin: 0 0 .75rem 0;
        }
    }
    &-clerk {
        @include clearfix();
    }
}

// EPILOGUE
.myCity {
    &-disclaimer {
        &-text {
            @include grid-10col();
        }
    }
}
