/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

@mixin visuallyHidden() {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@mixin clearfix() {
    &:before, &:after {
        clear: both;
        content: ' ';
        display: table;
    }
}



$cob-blue: #315da6;
$cob-blue-light: #4975ba;
$cob-blue-dark: #143a7a;
$cob-blue-darkest: #06204b;

// Cornflower
$cornflower-brightest: #acf2ff;
$cornflower-darkest: #12314c;

// Action Green
$cob-green: #20ac59;
$cob-green-light: #70bf88;
$cob-green-lightest: #aaffac;

// Blue-ish gray
$cob-gray: #bcc9d8;
$cob-gray-dark: #8d98a5;
$cob-gray-darkest: #585f68;
$cob-nightshade: #2a2e32; // Darker than darkest

// Font families
$font-body-copy: 'PT Sans', Verdana, sans-serif;
$font-headings: Lato, 'Helvetica Neue', Arial, sans-serif;


// Viewport size variables
$screen-large: (990rem/16);
$screen-medium: (600rem/16);
$screen-small: (350rem/16);






.cob-pageHeader {
    background-image: none;
    color: #fff;
    position: relative;
    &:after {
        background: url('img/MyBloomington.svg') no-repeat 50% 0;
        content: ' ';
        display: inline-block;
        height: (45rem/16);
        margin: 0 0 0 (-185rem/16);
        position: absolute;
            top: (112rem/16);
            left: 50%;
        width: (370rem/16);
    }
    &-mapCanvas {
        height: (246rem/16);
    }
}

section > h2:first-child {
    font-size: (20rem/16);
    font-weight: normal;
    line-height: (26em/20);
    text-transform: uppercase;
}

.myCity {
    &-searchForm {
        margin: 0 0 0 (-225rem/16);
        position: absolute;
            top: (162rem/16);
            left: 50%;
        text-align: center;
        width: (450rem/16);

        > label {
            @include visuallyHidden();
        }
        > input[name="address"] {
            border: 1px solid $cob-blue-darkest;
            border-radius: .5rem 0 0 .5rem;
            box-sizing: border-box;
            color: $cob-gray-darkest;
            font-size: (18rem/16);
            line-height: 1.3em;
            overflow: hidden;
            padding: .5rem;
            width: (370rem/16);
        }
        > button[type="submit"] {
            background: url('img/search.svg') no-repeat 50% 50% / 1.1em 1.1em $cob-green;
            border: 1px solid $cob-blue-darkest;
            border-radius: 0 .5rem .5rem 0;
            box-sizing: border-box;
            display: inline-block;
            font-size: (18rem/16);
            line-height: 1.3em;
            overflow: hidden;
            padding: .5rem 2rem;
            position: relative;
                right: .5rem;
            text-indent: -10rem;
        }
    }
    &-resultsHeading {
        @include visuallyHidden();
    }


    &-addressInfo {
        &-container {
            border-top: solid (4rem/16) $cob-blue;
        }
        &-keyValuePair { /* <- Meant for DL */
            display: inline-block;
            margin: 0;

            > dt {
                font-size: (14rem/16);
                line-height: 1em;
                text-transform: uppercase;
            }
            > dd {
                color: $cob-blue-darkest;
                font-size: (30rem/16);
                line-height: (36em/30);
                margin: 0;
            }
            &.modTrashDay {
                box-sizing: border-box;
                padding: 0 1rem;
                text-align: center;
                width: 49%;
            }
            &.modRecycleWeek {
                box-sizing: border-box;
                padding: 0 1rem;
                text-align: center;
                width: 49%;
            }
            &.modLatLon {
                box-sizing: border-box;
                padding: 0 1rem;
                text-align: center;
                width: 49%;
            }
            &.modLocation {
                > dt {
                    font-size: (12rem/16);
                    line-height: (18em/12);
                }
                > dd {
                    font-size: (18rem/16);
                    line-height: (26em/18);
                }
            }
        }
    }
    &-trash {
        &-container {
            border-bottom: 1px solid $cob-gray;
            @include clearfix();

            &:before {
                background: url('img/icon-trash.svg') no-repeat 0 0 / 100% 100%;
                content: ' ';
                display: block;
                height: (83rem/16);
                margin: 1rem auto;
                width: (83rem/16);
            }
        }
        &-details {
            display: inline-block;
            font-size: (16rem/16);
            line-height: (24em/16);
            margin: 1rem;
        }
    }
    &-location {
        &-container {
            &:before {
                background: url('img/icon-map.svg') no-repeat 0 0 / 100% 100%;
                content: ' ';
                display: block;
                height: (83rem/16);
                margin: 1rem auto;
                width: (83rem/16);
            }
        }
    }
    @media screen and (max-width: $screen-small) {
        &-addressInfo {
            &-keyValuePair {
                > dt {
                    font-size: (12rem/16);
                    line-height: (18em/12);
                }
                > dd {
                    font-size: (20rem/16);
                    line-height: (25em/30);
                }
            }
        }
        
    }
    @media screen and (min-width: $screen-medium) {
        &-addressInfo {
            &-keyValuePair {
                &.modRecycleWeek  {
                    margin: 0 (20rem/16) 0 0;
                    padding: 0;
                    text-align: left;
                    width: (167rem/16);
                }
                &.modTrashDay {
                    margin: 0 (20rem/16) 0 (20rem/16);
                    padding: 0;
                    text-align: left;
                    width: (167rem/16);
                }
                &.modLatLon {
                    margin: 0 (20rem/16) 1rem (20rem/16);
                    padding: 0;
                    text-align: left;
                }
            }
        }
        &-trash {
            &-container {
                &:before {
                    display: inline-block;
                    margin-bottom: -1rem;
                }
            }
        }
        &-location {
            &-container {
                @include clearfix();
                &:before {
                    display: block;
                    float: left;
                    margin-bottom: -1rem;
                }
            }
            &-latLon {
                display: block;
                float: left;
                margin: 1rem 0 1rem ;
            }
        }
    }
    @media screen and (min-width: $screen-large) {
        &-trash {
            &-container {
                > dl, > div, > p, &:before { vertical-align: middle; }
                &:before {
                    margin: 1rem 0;
                }
            }
            &-details {
                display: inline-block;
                width: 25em;
            }
        }
        &-location {
            &-container {
                &:before {
                }
            }
        }
    }
}



