<section>
    <header>
        <h2>Government Online</h2>
    </header>
    <div>
        <div>
            <h3>Bloomington</h3>
            <table>
                <tr><th>Web:</th><td><a href="https://bloomington.in.gov">bloomington.in.gov</a></td></tr>
                <tr><th>Social:</th>
                    <td><a href="https://www.facebook.com/cityofbloomington">Facebook</a>
                        <a href="https://www.instagram.com/citybloomington">Instagram</a>
                        <a href="http://twitter.com/citybloomington">Twitter</a>
                        <a href="https://www.youtube.com/c/bloomingtonindiana">YouTube</a>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <h3>Monroe County</h3>
            <table>
                <tr><th>Web:</th><td><a href="http://www.co.monroe.in.us">www.co.monroe.in.us</a></td></tr>
                <tr><th>Social:</th>
                    <td><a href="https://www.facebook.com/monroecoboardofcommissioners">Facebook</a>
                        <a href="https://twitter.com/MonroeCoBoC">Twitter</a>
                    </td>
                </tr>
            </table>
        </div>

        <div>
            <h3>Indiana</h3>
            <table>
                <tr><th>Web:</th><td><a href="https://www.in.gov">www.in.gov</a></td></tr>
                <tr><th>Social:</th>
                    <td><a href="https://www.facebook.com/IndianaGovernment">Facebook</a>
                        <a href="https://twitter.com/IN_gov">Twitter</a>
                        <a href="https://www.instagram.com/in_gov">Instagram</a>
                        <a href="https://www.youtube.com/user/IndianaGovernment/videos">YouTube</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>
