{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param string query
 * @param array  results
#}
{% extends "html/layouts/default.twig" %}

{% block content %}
<section id="searchView">
    <header>
        <h1>Welcome</h1>
        <h3>myBloomington provides information related to a given street address.</h3>
        <p>Enter an address to learn more:</p>
    </header>
    {{ include('html/address/partials/searchForm.twig') }}
    <div id="searchResults">
        {% if query and not results %}
        <p>No results found</p>
        {% endif %}

        {% if results %}
        {{ include('html/address/partials/searchResults.twig', { results: results }, with_context=false) }}
        {% endif %}
    </div>
</section>
<script type="text/javascript">
    document.getElementById('query').focus();
</script>
<script src="{{ BASE_URI }}/js/autocomplete-{{ VERSION }}.js"></script>
{% endblock %}
