{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array address
 * @param array purposes
#}
<section id="address" class="container my-3">
    <h2>Address Information</h2>
    <dl class="row">
        <dt class="col-sm-3">Township</dt>
        <dd class="col-sm-9">{{ address.township_name }}</dd>
        {% for type,p in purposes %}
        <dt class="col-sm-3">{{ type|title }}</dt>
        <dd class="col-sm-9">{% for name in p %} {{ name|title }}</dd>{% endfor %}
        {% endfor %}
        <dt class="col-sm-3">Voter Registration</dt>
        <dd class="col-sm-9"><a href="https://www.co.monroe.in.us/department/division.php?structureid=89">Monroe County Voter Precincts</a></dd>
    </dl>
</section>