{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array address
 * @param array purposes
#}
<section id="address" class="container my-3">
    <div class="card card border-light mb-3">
        <h2 class="card-header">Address Information</h2>
        <div class="card-body">
            <dl>
                <div class="row">
                    <dt class="col-md-4">Township</dt>
                    <dd class="col-md-8">{{ address.township_name }}</dd>
                </div>
                {% for type,p in purposes %}
                <div class="row">
                    <div class="col-md-4">
                        <dt>{{ type|title }}</dt>
                    </div>
                    <div class="col-md-8">
                        {% for name in p %}
                        <dd>{{ name|title }}
                        {% endfor %}
                        </dd>
                    </div>
                </div>
                {% endfor %}
                <div class="row">
                    <dt class="col-md-4">Voter Registration</dt>
                    <dd class="col-md-8">
                        <a href="https://experience.arcgis.com/experience/bd823f9739c24ab5847592dc81c56bac">
                            Monroe County Voter Precincts
                        </a>
                    </dd>
                </div>
            </dl>
        </div>
    </div>
</section>
