{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array address
 * @param array purposes
#}
<section id="address" class="container my-3">
    <div class="card card border-light mb-3">
        <h2 class="card-header">Address Information</h2>
        <div class="card-body">
            <dl class="row">
                <dt class="col-md-4">Township</dt>
                <dd class="col-md-8">{{ address.township_name }}</dd>
                {% for type,p in purposes %}
                <dt class="col-md-4">{{ type|title }}</dt>
                    {% for name in p %}
                    <dd class="col-md-8"> {{ name|title }}</dd>
                    {% endfor %}
                {% endfor %}
                <dt class="col-md-4">Voter Registration</dt>
                <dd class="col-md-8"><a href="https://www.co.monroe.in.us/department/division.php?structureid=89">Monroe County Voter Precincts</a></dd>
            </dl>
        </div>
    </div>
</section>
