{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array address
 * @param array purposes
#}
<section id="address" class="container my-3">
    <div class="card card border-light mb-3">
        <h2 class="card-header d-flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-geo-alt-fill me-1" viewBox="0 0 16 16" aria-hidden="true">
                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
            </svg>
            Address Information
        </h2>
        <div class="card-body">
            <dl>
                <div class="row pt-2">
                    <dt class="col-md-4">Township</dt>
                    <dd class="col-md-8">{{ address.township_name }}</dd>
                </div>
                {% for type, p in purposes %}
                    {% if type == 'CITY COUNCIL DISTRICT' %}
                        <div class="row pt-2">
                            <div class="col-md-4">
                                <dt>City Council District</dt>
                            </div>
                            <div class="col-md-8">
                                {% for name in p %}
                                    <dd>{{ name|title }}</dd>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <div class="row pt-2">
                            <div class="col-md-4">
                                <dt>{{ type|title }}</dt>
                            </div>
                            <div class="col-md-8">
                                {% for name in p %}
                                    <dd>{{ name|title }}</dd>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="row pt-2">
                    <dt class="col-md-4">Voter Registration</dt>
                    <dd class="col-md-8">
                        <a href="https://www.co.monroe.in.us/department/division.php?structureid=89">
                            Monroe County Voter Registration
                        </a>
                    </dd>
                </div>
                <div class="row pt-2">
                    <dt class="col-md-4">Voting Precincts</dt>
                    <dd class="col-md-8">
                        <a href="https://experience.arcgis.com/experience/bd823f9739c24ab5847592dc81c56bac">
                            Monroe County Voter Information Map
                        </a>
                    </dd>
                </div>
            </dl>
        </div>
    </div>
</section>