{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array address
 * @param array purposes
#}
<section id="address" class="container my-3">
    <h2>Address Information</h2>
    <table>
        <tr><th>Township</th><td>{{ address.township_name }}</td></tr>
        {% for type,p in purposes %}
        <tr><th>{{ type|title }}</th>
            <td>{% for name in p %}<div>{{ name|title }}</div>{% endfor %}</td>
        </tr>
        {% endfor %}
        <tr><th>Voter Registration</th>
            <td><a href="https://www.co.monroe.in.us/department/division.php?structureid=89">
                    Monroe County Voter Precincts
                </a>
            </td>
    </table>
</section>

