{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array location
#}
<section id="sanitation" class="container my-3">
    <div class="card card border-light mb-3">
        <h2 class="card-header d-flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-trash3-fill me-1" viewBox="0 0 16 16" aria-hidden="true">
                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
            </svg>
            Sanitation Pickup
        </h2>
        <div class="card-body">
            <p class="card-text"><em>Please see <a href="https://bloomington.in.gov/trash">Trash &amp; Recycling Pickup</a> for details.</em></p>
            <p class="card-text"><em>Find out more by using
                <a href="https://api.recollect.net/r/area/bloomingtonin">ReCollect</a>.
            </em></p>
            {% if location.trash_day %}
            <p class="card-text"><em><strong>Note:</strong> Some conditions <strong>may cause delays to the schedule below.</strong></em></p>
            {% else %}
            <p class="card-text"><em><strong>Note:</strong> No sanitation pickup scheduled.</em></p>
            <p class="card-text">If you were expecting one, contact:
                <a href="mailto:sanitation@bloomington.in.gov">sanitation@bloomington.in.gov</a>
            </p>
             {% endif %}
            {% if location.trash_day %}
            <dl class="row">
                <dt class="col-sm-3">Trash &amp; Recycling</dt>
                <dd class="col-sm-9">{{ location.trash_day }}</dd>
                {% if location.recycle_week %}
                <dt class="col-sm-3">Yard Waste</dt>
                    <dd class="col-sm-9"><a href="https://bloomington.in.gov/sanitation/trash/{{ location.trash_day|lower }}-{{ location.recycle_week|lower }} ">Week {{ location.recycle_week }}</a> - Yard waste pickups are between April - December only.</dd>
                {% endif %}
            </dl>
        </div>
    {% endif %}
    </div>
</section>
