{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array location
#}
<section id="sanitation" class="container my-3">
    <div class="card card border-light mb-3">
        <h2 class="card-header">Sanitation Pickup</h2>
        <div class="card-body">
            <p class="card-text"><em>Please see <a href="/trash">Trash &amp; Recycling Pickup</a> for details.</em></p>
            <p class="card-text"><em>Find out more by using
                <a href="https://api.recollect.net/r/area/bloomingtonin">ReCollect</a>.
            </em></p>
            {% if location.trash_day %}
            <p class="card-text"><em><strong>Note:</strong> Some conditions <strong>may cause delays to the schedule below.</strong></em></p>
            {% else %}
            <p class="card-text"><em><strong>Note:</strong> No sanitation pickup scheduled.</em></p>
            <p class="card-text">If you were expecting one, contact:
                <a href="mailto:sanitation@bloomington.in.gov">sanitation@bloomington.in.gov</a>
            </p>
             {% endif %}
            {% if location.trash_day %}
            <dl class="row">
                <dt class="col-sm-3">Trash &amp; Recycling</dt>
                <dd class="col-sm-9">{{ location.trash_day }}</dd>
                {% if location.recycle_week %}
                <dt class="col-sm-3">Yard Waste</dt>
                    <dd class="col-sm-9"><a href="/sanitation/trash/{{ location.trash_day|lower }}-{{ location.recycle_week|lower }} ">Week {{ location.recycle_week }}</a> - Yard waste pickups are between April - December only.</dd>
                {% endif %}
            </dl>
        </div>
    {% endif %}
    </div>
</section>