<footer class="bg-body-tertiary">
        <section class="container p-2 my-5">
                <p><small>The <a href="https://bloomington.in.gov">City of Bloomington</a> strives to keep complete and accurate information and regrets any errors or omissions. The information provided comes from the <a href="https://bloomington.in.gov/master_address">City of Bloomington’s Master Address Database</a>, <a href="https://bloomington.in.gov/arcgis">Geographic Information System (GIS)</a> and other related databases unless otherwise noted. If you encounter a problem with an address within the City limits or another issue, please let us know by reporting your issue through <a href="https://bloomington.in.gov/ureport/miscellaneous/53">uReport</a>.</small></p>
                <p class="mt-5"><small>ⓒ 2024 - City of Bloomington</small></p>
        </section>
</footer>
