<header>
    <h1><a href="https://bloomington.in.gov">City of Bloomington</a></h1>
    <h2><a href="{{ BASE_URI }}">{{ APPLICATION_NAME }}</a></h2>
    <nav>
        <a href="{{ BASE_URI }}/help">Help</a>
        <a href="https://bloomington.in.gov/ureport/miscellaneous/53">Feedback</a>
    </nav>
</header>
