<footer>
<p>The <a href="/">City of Bloomington</a> strives to keep complete and accurate information and regrets any errors or omissions.</p>

<p>The information provided comes from the <a href="/master_address">City of Bloomington’s Master Address Database</a>, <a href="/arcgis">Geographic Information System (GIS)</a> and other related databases unless otherwise noted.</p>

<p>If you encounter a problem with an address within the City limits or another issue, please let us know by reporting your issue through <a href="/ureport/miscellaneous/53">uReport</a></p>
</footer>
