.myCity-home {
    position: absolute;
        top: 8.8rem;
        left: 0;
        right: 0;
        bottom: 0;
    text-align: center;
    &-mapCanvas {
        position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
    }
    &-greeting {
        $width: 40rem;
        background: rgba(255, 255, 255, .7);
        box-sizing: border-box;
        border: 1px solid $cob-nightshade;
        border-radius: 1rem;
        margin: 0 auto 0 (-$width/2);
        padding: 1rem 2rem;
        position: absolute;
            top: 15rem;
            left: 50%;
            bottom: auto;
            right: auto;
            z-index: 2;
        text-align: left;
        width: $width;
        > h2 {
            font-size: (24rem/16);
        }
    }
}
